html, body {
	height:100%;
}

.carousel,
.item,
.active {
	height:100%;
}

.carousel-inner {
	height:100%;
}

.fill {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.section {
	margin: 50px 0;
}


footer {
	margin: 50px 0;
}
.login {
    text-align:right;
}
.main {
	position:relative;
	margin-top:50px;
	margin-left:10%;
	margin-right:10%;
}

.log {
	left: 1850%;
}

.logout{
	left:1320%;
}

.right{
	text-align:right;
}
.rightx{
	background-position: 100% .4em;
	padding-right: .6em;
}